:root {
    --background-color: White;
    --color: Black;
    --a-color: #3131ff;
    --a-visited-color: #9e53d5;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #121212;
        --color: #dbdbdb;
        --a-color: #4284a1;
        --a-visited-color: #aa5fb9;
    }
}

body {
    background-color: var(--background-color);
    color: var(--color);
    max-width: 71vh;
}

a { color: var(--a-color); }
a:visited { color: var(--a-visited-color); }
img { max-width: 100%; }
