@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    src: url('chakra-petch-v11-latin/chakra-petch-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --gap: .75rem;
    --chakra: 'Chakra Petch', sans-serif;
    --filter-btn-disabled: invert(16%) sepia(31%) saturate(0%) hue-rotate(196deg) brightness(96%) contrast(96%);
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: var(--chakra);
    margin: 0;
    min-height: 100vh;
}

header { padding: var(--gap); }

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: var(--gap);
}

button {
    border: .25rem solid gray;
    border-radius: .5rem;
    border-style: ridge;
    color: black;
    flex: 1;
    font-size: 1.5rem;
    font-family: var(--chakra);
    font-weight: 700;
    padding: .125rem;
    text-transform: uppercase;
}

button.red {
    background-color: lightpink;
    background-image: linear-gradient(to bottom, lightpink, rgb(255, 212, 223), lightpink);
}

button.yellow {
    background-color: rgb(255, 236, 182);
    background-image: linear-gradient(to bottom, rgb(255, 236, 182), rgb(255, 245, 212), rgb(255, 236, 182));
}

button.green {
    background-color: rgb(162, 218, 106);
    background-image: linear-gradient(to bottom, rgb(162, 218, 106), rgb(238, 251, 224), rgb(162, 218, 106));
}

button:disabled {
    background-color: gray;
    background-image: linear-gradient(to bottom, gray, rgb(158, 158, 158), gray);
}

button img {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: 2rem;
}

button:disabled img { filter: var(--filter-btn-disabled); }
#reveal { flex: 3; }

.button-group {
    column-gap: var(--gap);
    display: flex;
    margin-top: var(--gap);
}

#notice, #card {
    border: .25rem solid white;
    border-radius: 1rem;
    border-style: ridge;
    display: flex;
    flex-direction: column;
    padding: var(--gap);
    text-shadow: .125rem .125rem black;
}

#notice {
    background-color: rgb(111, 17, 155);
    background-image: linear-gradient(to bottom right, rgb(118, 11, 72), rgb(111, 17, 155));
    position: absolute;
    top: calc(var(--gap) * .25);
    right: calc(var(--gap) * .25);
    left: calc(var(--gap) * 2);
}

#card {
    background-color: rgb(0, 1, 35);
    background-image: linear-gradient(to bottom right, rgb(1, 0, 175), rgb(0, 1, 35));
    flex: 1;
}

#title {
    font-size: 1.125rem;
    font-weight: normal;
    margin: 0 0 .75rem;
}

#content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#notice p, #question {
    font-size: 2rem;
    margin: 0;
}

#alternatives {
    font-size: 1.5rem;
    list-style: none;
    margin: 1rem 0;
    padding: 0;
}

#alternatives > li {
    line-height: 1.125;
    padding-top: .25rem;
    padding-bottom: .25rem;
    text-align: center;
}

#question.long { font-size: 1.75rem; }
#alternatives.long { font-size: 1.25rem; }
#answer.revealed::before { content: "[ "; }
#answer.revealed::after { content: " ]"; }
#toolbarFix { height: 100vh; }
.display-none { display: none !important; }
